<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="flex-container">
      <div class="side-content">
        <div class="card-info">
          <img [src]="event.logo" style="width: 200px" alt="event">
          <div class="qualification" >
            <mat-icon  *ngFor="let i of [1,2,3,4,5]">star rate</mat-icon>
          </div>
          <button mat-raised-button color="primary">FOLLOW</button>
        </div>
        <div class="divider"></div>
        <div class="info-organizer card-info">
          <div class="profile" [ngStyle]="{'background' : 'url(https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)'}">
          </div>
          <h3>{{ organizer.firstName }} {{ organizer.lastName }}</h3>
          <button mat-raised-button color="primary">FOLLOW</button>
        </div>
      </div>

      <div class="side-content-list">

        <div class="list-content">
          <h2>Itinerary</h2>

          <ul *ngFor="let itinerary of itineraries">
            <li>{{itinerary.name}}</li>
          </ul>
        </div>

        <div class="list-content">
          <h2>Schedule</h2>
          <ul>
            <li>Jueves 8:00 a 10:00</li>
            <li>Viernes 20:00 a 22:00</li>
          </ul>
      </div>

    </div>
    </div>
  </mat-drawer>

  <div class="content">

    <button mat-raised-button color="primary" (click)="drawer.toggle()" class="toggle-side">
      <mat-icon *ngIf="!drawer.opened">arrow_forward_ios</mat-icon>
      <mat-icon *ngIf="drawer.opened">arrow_back_ios</mat-icon>
    </button>

    <h1>{{event.name}}</h1>

    <div class="divider"></div>

    <div class="event-options">
      <button mat-raised-button color="primary" (click)="renderInformation(event.id)">INFORMATION</button>
      <button mat-raised-button color="primary" (click)="renderLocation(1)">SEE LOCATION</button>
      <button mat-raised-button color="primary">BUY TICKETS </button>
    </div>

    <div class="divider"></div>

    <div class="event-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>

