.container {
  max-width: 100vw;
  min-height: 93vh; /* nav bar is 7% of height */
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #18161A;
  color: #8BB0E8;
}
.divider {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  border-bottom: 1px solid #99DCFF;
}

/**
 Sidenav content
 */

.flex-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.sidenav {
  width: 40%;
  background-color: #282732;
  color: #8BB0E8;
}
.toggle-side {
  position: absolute;
  left: 0;
  top: 0;
  background: #18161A !important;
  margin: 5px 0 !important;
  color: #a4a2ea;
  box-shadow: none;
}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 97vh;
}
/* side content cards / follow */
.card-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
.card-info img {
  min-height: 50%;
  max-height: 50%;
}
.qualification {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #b4acdc;
}
.info-organizer {
  align-items: center;
  height: 30%;
}
.info-organizer button {
  width: 95%;
}

.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center !important;
}
/* side content - list information */
.side-content-list{
  display: flex;
  flex-direction: column;
  max-height: 97vh;
  width: 50%;
}

.list-content {
  padding-top: 30px;
  font-size: medium;
}
.list-content ul {
}
.list-content li {
  padding-bottom: 20px;
}

/**
 Content
 */

.content {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/*event options*/
.content h1 {
  font-size: 250%;
  font-weight: bold;
  color: #b8a2ea;
}
.event-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

/*event Description*/
.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

/*buttons*/
button {
  margin: 3%;
  background: #464361 !important;
}

