<mat-drawer-container class="container" autosize>

  <h1 class ="title">CREATE</h1>

  <p class = "txt">Our event creation process has been <br/> designed <br/> to be simple. To get started,
    register or log in <br/>  to your Findevents account. Then, click on <br/> "Create an event"</p>

  <button mat-raised-button color="primary" class="button" (click)="createEvent()">
    CREATE AN EVENT
  </button>


  <hr class = "line">
  <div class="my-events">
    <h1 class ="title">MY EVENTS</h1>

    <p class = "final">No more events found....</p>
  </div>

</mat-drawer-container>
