mat-toolbar {
  padding-left: 2%;
  padding-right: 2%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  background-color: #464361;
  color: #a4a2ea;
}
.options {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
/*.spacer {*/
/*  flex: 1 1 auto;*/
/*}*/
mat-sidenav {
  background-color: #464361;
}
mat-list-item {
  color: #a4a2ea !important;
}
