<mat-toolbar>
  <div class="icon">
    <h1>FIND EVENTS</h1>
  </div>
  <div class="options">
    <button mat-icon-button>
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <div class="profile">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
