.event-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.event-description .title h2 {
  font-size: 1.9em;
}

.event-description .description {
  padding-top: 3%;
  font-size: 18px;
  text-align: justify;
  line-height: 25px;
}

.event-description img {
  width: 100%;
  margin-top: 35px;
  padding-bottom: 3%;
}
