p, h2 {
  color: #726dc2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.flex-container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.img-upload {
  border: 1px solid #535252;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-upload {
  padding: 5px 10px;
  background: #464361;
  color:#ffffff;
}
.btn-upload:hover {
  opacity: .5;
  cursor: pointer;
}

/*custom input file*/


/*button*/
::ng-deep .mat-raised-button {
  background-color: #726dc2;
  color: white;
}
::ng-deep .mat-button-disabled {
  background-color: #383845 !important;
  color: white !important;
}

/*fields*/
::ng-deep .mat-focused .mat-form-field-label {
  color: #726dc2 !important;
}
::ng-deep.mat-form-field-ripple {
  background-color: white !important;;
}
::ng-deep .mat-form-field .mat-form-field-flex {
  background-color: white;
}
