
<mat-drawer-container class="container" autosize>


<div class ="flex-container">

  <div>
    <h1 class="title">Data of event:</h1><br/>
    <form [formGroup]="create" >
      <mat-label class = "texts"> Name of the event:</mat-label>
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Type the name!" class="input-type"  formControlName="name" required>
      </mat-form-field>

      <mat-label class = "texts"> Date and time of the event:</mat-label>
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Type the name!" class="input-type" formControlName="startDate" required>
      </mat-form-field>

      <mat-label class = "texts"> Public recommended:</mat-label><br/>
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Type the name!" class="input-type" formControlName="price" required>
      </mat-form-field>

      <mat-label class = "texts"> Total tickets available:</mat-label>
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Type the name!" class="input-type" formControlName="quantity" required>
      </mat-form-field>

      <mat-label class = "texts"> Temary:</mat-label>
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Type the name!" class="input-type"  required>
      </mat-form-field>

      <mat-label class = "texts"> Detailed information:</mat-label>
      <mat-form-field appearance="fill" autosize>
        <input matInput placeholder="Type the name!" class="input-type"  required>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" class="button">IMG (OPCIONAL)</button>
      <!--<input type="submit" value="img (optional)" class = "btn" />-->

      <hr class = "line">

      <mat-label class = "texts"> Optional data:</mat-label><br/><br/>

      <mat-label class = "texts" > Official page of the event:</mat-label>
      <mat-form-field appearance="fill" autosize>
        <input matInput placeholder="Type the name!" class="input-type"  required>
      </mat-form-field>

      <mat-label class = "texts">Associate social networks:</mat-label>
      <input type="text" name = "Name" class = "inp"/><br/><br/>
      <button mat-raised-button type="submit" color="primary" class="button" (click)="registerEvent()">TO POST</button>

    </form>
  </div>
  <div>

    <div class="group-buttons">

      <button mat-raised-button color="primary" class="button" (click)="navigateToEvents()">CANCEL</button>
    </div>

    <mat-label class = "texts">Select event logo image:</mat-label><br/>
  <p class = "cont">
    <button mat-raised-button color="primary" class="button" >SELECT IMAGE</button>
  </p>

    <hr class = "line">

    <p class = "fin">
      <mat-label class = "texts">Event address:</mat-label>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Type the name!" class="input-type" required>
      </mat-form-field>
    </p>



  </div>
</div>
</mat-drawer-container>
