
<mat-drawer-container class="container" autosize>
<h1 class="title">Data of event:</h1>
  <form (ngSubmit)="onSubmit()">
    <mat-label class = "texts"> Name of the event</mat-label><br/>
    <input type="text" name = "Name" class = "inp"/> <br/>

    <mat-label class = "texts"> Date and time of the event</mat-label><br/>
    <input type="text" name = "Name" class = "inp"/> <br/>

    <mat-label class = "texts"> Total tickets available</mat-label><br/>
    <input type="text" name = "Name" class = "inp"/> <br/>

    <mat-label class = "texts"> Detailed information</mat-label><br/>
    <input type="text" name = "Name" class = "inp"/> <br/>

    <input type="submit" value="Send" class = "inp" />
  </form>
</mat-drawer-container>
