.container {
  width: 100vw;
  min-height: 93vh; /* nav bar is 7% of height */
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #18161A;
  color: #8BB0E8;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
  line-height: 45px;
}

.title{
  color: #a4a2ea;
  font-size: 35px;
  padding-top: 25%;

}

.texts{
  color: gray;
  font-size: 20px;
  margin-top: 40%;
  width: 200%;
  font-weight: bold;
}

.fin{
  color: gray;
  font-size: 20px;
  padding-top: 15%;
  font-weight: bold;
}

.inp{
  width: 90%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

mat-form-field {
  width: 90%;
  display: block;
  color: black;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
  margin: 10px auto;
  height: 60px;
}
.btn{
  margin-top: 2%;
  font-size: 20px;
  background: plum;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.button {
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 50px;
}

.group-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
}

@media (max-width: 760px) {
  .group-buttons {
    margin-top: 20px;
  }
}

.btn_2{
  margin-top: 35%;
  font-size: 20px;
  background: plum;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.line{
  align: "center";
  margin-top: 20%;
  width: 65%;
}

.cont{
  border: 2px solid white;
  margin: 40px;
  padding: 50px;
  width: 250px;
  height: 100px;
}

