.general {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(24,22,27,255);
}

.container-login {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.container-forms {
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-flow: column wrap;
}

.form-field-mail {
  width: 60%;
  background: rgba(255,255,254,255);
  border-radius: 5px;
  height: 55px;
}

.form-field-password {
  width: 60%;
  background: rgba(255,255,254,255);
  border-radius: 5px;
  height: 55px;
}

.divider {
  height: 30px;
}

.container-button {
  width: 90%;
  display: flex;
  justify-content: center;
}

.button-login {
  background-color: rgba(194,153,254,255);
  border: 2px solid rgb(177, 105, 255);

  color: rgba(251,241,253,255);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
}

.txt-signin {
  color: rgba(251,241,253,255);
}
