#user-profile-view {
  background-color: #18161A;
  min-height: 93vh;
}

h1 {
  font-weight: 550;
  color: #988BE8 !important;
}
h2{
  color: #8BB0E8;
}
#profile-tile{
  padding-top: 60px;
  background-color: #23222B;
  width: 100%;
  height:100%;
}
#events-tile {
  padding-top: 60px;
  width: 100%;
  height:100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.event-card {
  width: 550px;
  height: auto;
  background-color: #23222B;
}

.user-info-item-list {
  display: flex;
  flex-direction: column;
}

#profile-picture {
  --width: 150px;
  position: absolute;
  width: var(--width);
  clip: rect(0, var(--width), var(--width), 0);
  transform: translate(0, 40px);
}
#user-info-tile {
  padding-left: 50px;
  width: 100%;
  height:100%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.internalMatGrid{
  width:95%;
  height: 95%;
}

.button1{
  text-align: center;
  background-color: #C399FF;
  color: white;
  font-size: larger;
}

#past-events {
  width: 60%;
  height: 90%;
}




.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#event-img {
  width: 170px;
}


body {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(0,0,0, 0.2);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 300px;
}

.progress-value {
  animation: load 1.5s normal forwards;
  border-radius: 100px;
  background: #C399FF;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}


