<div id="user-info" *ngFor="let event of events; let i = index">
  <h1 *ngIf="i == 0">My Events</h1>
  <div *ngIf="i == 0" class="divider"></div>

  <div class="event-card">

    <div class="card-info">

      <img class="image" src="{{ event.logo }}" alt="">

      <div class="text-content">
        <h2>{{ event.name }}</h2>
        <p>{{ event.information }}</p>

        <div class="options">
          <button mat-icon-button>
            <mat-icon (click)="updateEvent(event.id)" >mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="deleteEvent(event.id)" >delete</mat-icon>
          </button>
        </div>

      </div>

    </div>

    <div class="loading-bar">
      <p>50 / 100</p>
      <div class="bar"></div>
    </div>

  </div>

  <div class="divider not-border"></div>


</div>


