  <div class="center">
    <h1 *ngIf="user.role == 'customer'">MY EVENTS BOUGHT</h1>
    <h1 *ngIf="user.role == 'organizer'" >MY EVENTS</h1>
  </div>
  <div class="divider"></div>

  <div id="user-info" *ngFor="let event of events; let i = index">

  <div class="event-card">

    <div class="card-info">

      <img class="image" src="{{ event.logo }}" alt="{{ event.name }}">

      <div class="text-content">
        <h2>{{ event.name }}</h2>
        <p style="color: white">Price: S/. {{ event.price }}</p>
        <p>{{ event.information }}</p>

        <div *ngIf="user.role == 'organizer'" class="options">
          <button mat-icon-button>
            <mat-icon (click)="updateEvent(event.id)" >mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="deleteEvent(event.id)" >delete</mat-icon>
          </button>
        </div>

      </div>

    </div>

    <div *ngIf="user.role == 'organizer'" class="loading-bar">
      <p>{{ event.sold }} / {{ event.quantity }}</p>
      <div class="bar" [style.width]="sold(event)+'%'"></div>
    </div>

  </div>

  <div class="divider not-border"></div>

</div>


