<div class="event-list">
  <div class="header-home">
    <h2>LAST EVENTS</h2>
    <p>Somos Findevents, un espacio pensado para ti. Encuentra eventos alucinantes sobre el mundo Friki!!</p>
  </div>

  <div class="search">
    <mat-form-field appearance="fill">
      <mat-label>Search events</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup)="applySearch($event)">
      <button matSuffix mat-icon-button (click)="searchEvents(value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


  </div>

  <div class="content">

    <div *ngFor="let event of events">
      <mat-card class="card" (click)="navigateToEvent(event.id)">
          <img mat-card-image src="{{ event.logo }}" alt="">
          <mat-card-header>
            <mat-card-title>{{ event.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ event.information }}</p>
            <p>{{ event.startDate }}</p>
            <div class="stars">
              <mat-icon *ngFor="let i of event.stars">star rate</mat-icon>
            </div>
          </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
