.general {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(24,22,27,255);
}

.divider {
  width: 5%;
}

.container-signin {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.container-forms {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  font-size: 15px;
}

.forms-group {
  width: 90%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 40%;
  height: 55px;

  background: rgba(255,255,254,255);
  border-radius: 5px;
}

.container-button {
  width: 90%;
  display: flex;
  justify-content: center;
}

.button-login {
  background-color: rgba(194,153,254,255);
  border: 2px solid rgb(177, 105, 255);

  color: rgba(251,241,253,255);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
}

.txt-signin {
  color: rgba(251,241,253,255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
