.container {
  width: 100vw;
  height: 93%; /* nav bar is 7% of height */
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #18161A;
  color: #8BB0E8;
  text-align: center;
}

.title{
  font-size: 50px;
  padding-top: 7%;
}

.txt{
  font-size: 23px;
  padding-top: 5%;
  line-height: 40px;
}

.btn{
  margin-top: 2%;
  font-size: 20px;
  background: plum;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.final{
  margin-top: 5%;
  color: gray;
  font-size: 30px;
}

.line{
  align: "center";
  margin-top: 2%;
  width: 32%;
}

.button {
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 50px;
}

.my-events {
  margin-bottom: 30px;
}
